/* Styles for the le2023 Logo component */
@use "../../../styles/variables.scss";

.container {
  background: linear-gradient(0deg, variables.$indigo 50%, variables.$teal 50%);

  a {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    img {
      margin-top: 0.45em;
      margin-bottom: -0.1em;
    }
  }
}
