/* Styles for the TopTurnoutList component */
@use "../../../styles/variables.scss";

.container {
  font-size: 1em;
}

ol.entrylist {
  &::-webkit-scrollbar-thumb {
    background-color: variables.$teal-x-light
  }
  &::-webkit-scrollbar-track {
    background-color: variables.$teal-xx-light
  }
  &::-webkit-scrollbar-corner {
    background-color: variables.$teal-xx-light
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  counter-reset: item;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  margin: 0 0 0.5em;
  padding: 0.5em;
  height: 7.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: variables.$teal-x-light variables.$teal-xx-light;
  scrollbar-width: thin;

}
