/* Styles common to all components. */
@import "./variables.scss";

/**
 * :global selector is a temporary work around for an issue where regular
 * css/scss includes are processed as CSS modules due to an upstream bug
 * in the microbundle-crl fork - see
 * https://github.com/developit/microbundle/issues/653
 */
:global {
  .election-stats-icu {
    font-family: 'Open Sans',Arial,sans-serif;

    // Use same paragraph styles as dotorg by default
    p {
      margin-bottom: 1rem;
      font-size: inherit;
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
  }

  .text-center {
    text-align: center;
  }

  .show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }
}
