// Colours
// LE2022
$indigo: #390099;
$teal-xx-light: #dbeff0;
$teal-x-light: #92ced3;
$teal-light: #45a5ad;
$teal: #38808a;
$mauve: #9e0059;
$red: #ff005c;
$orange: #ff4d00;
$amber: #ffa900;

// Dotorg
$cyan: #009dd6;
$magenta: #ec008c;
$dark-cyan: #0068aa;
$dark-magenta: #cb0078;

// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Breakpoints
$breakpoints: (
  small: 0,
  medium: 848px,
  large: 1140px,
  xlarge: 1440px,
  xxlarge: 1920px
);

@mixin small {
  @media screen and (max-width: map-get($breakpoints, 'medium')) {
    @content;
  }
}

@mixin small-portrait {
  @media screen and (max-width: map-get($breakpoints, 'large')) and (orientation: portrait) {
    @content;
  }
}
