/* Styles for the Button component */
@import '../../../styles/variables.scss';

.button {
  display: inline-block;
  padding: 0.75em 0.9em;
  border: 1px solid transparent;
  vertical-align: middle;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9em;
  font-family: inherit;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: $indigo;
  color: $amber;
  box-shadow: 0.16em 0.16em 0 0 $red;

  &:hover {
    background-color: $mauve;
  }

  &.small {
    font-size: 0.75em;
    padding: 0.6em 0.75em;
  }

  &.vote {
    font-size: 2em;
    font-weight: $fw-extra-bold;
    letter-spacing: 0.3rem;
    background-color: transparent;
    color: $amber;
    box-shadow: none;
    text-shadow: 1px -1px $orange;
    text-transform: uppercase;

    &:hover {
      text-shadow: 1px -1px $amber;
      color: $orange;
    }
  }
}

a.button {
  text-decoration: none;
}
