/* Styles for the Button component */
@import '../../../styles/variables.scss';

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1em;
  transition: color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 2em;
  font-weight: $fw-extra-bold;
  -webkit-appearance: none;
  line-height: 1;
  letter-spacing: 0.3rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: $amber;
  text-shadow: 1px -1px $orange;

  &:hover {
    text-shadow: 1px -1px $amber;
    color: $orange;
  }
}

a.button {
  text-decoration: none;
}

@include small {
  .button {
    grid-area: 1;
  }
}

