/* Styles for the Button component */
@import '../../../styles/variables.scss';

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #333;
  color: #fefefe;

  &:hover {
    background-color: $dark-magenta;
    color: #fefefe;
  }
}

a.button {
  text-decoration: none;
}
