@import '../../../styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
  column-gap: 0.3em;
  margin: 0.5em 0;
  box-sizing: border-box;

  .btn {
    font-size: 0.75em;
    font-weight: $fw-extra-bold;
    background-color: transparent;
    color: $teal;
    box-shadow: none;
    padding: 0.50em 0.55em;
    border: 1px solid $amber;
    vertical-align: middle;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    width: 21.5%;
    line-height: 1;

    &:hover {
      background-color: $amber;
      border-color: $amber;
      color: $teal;
    }
  }
  .active {
    font-size: 0.75em;
    font-weight: $fw-extra-bold;
    background-color: $amber;
    padding: 0.50em 0.55em;
    border: 1px solid $amber;
    color: $teal;
    width: 21.5%;
    line-height: 1;
  }
}
