/* Styles for the StudyTypes component */
@import "../../../styles/variables.scss";

.container {
  background-color: $cyan;
  display: flex;
  justify-content: space-around;
  height: 100%;
  color: white;
}

@include small-portrait {
  .container {
    flex-direction: column;
  }
}
