/* Styles for the StudyTypes component */
@use "../../../styles/variables.scss";

.container {
  background-color: variables.$cyan;
  display: flex;
  justify-content: space-around;
  height: 100%;
  color: white;
}

@include variables.small-portrait {
  .container {
    flex-direction: column;
  }
}
