/* Styles for the Banner component */
@import "../styles/variables.scss";

.banner {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr 1fr;
  column-gap: 1em;
  align-items: center;
  background: $indigo;
  padding: 0.5em 1em;
}

.electionLogo {
  img {
    max-width: 80%;
    padding: 0.75em 0.75em 0.75em 0;
    margin: 0 auto;
  }
}

.completed .electionLogo img {
  padding: 0.75em 0.75em 0.75em 0;
}

p.countdownCompleted {
  text-align: center;
  font-size: 1.5em;
  font-weight: $fw-bold;
  color: $amber;
  padding: 0.75em 0;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.80rem;
  font-weight: $fw-bold;
  color: white;

  > div {
    text-align: center;
  }

  .data {
    font-size: 1.5rem;
    font-weight: $fw-extra-bold;
  }
}

.voteButton {
  text-align: center;
}

.autumn {
  &.banner {
    background: linear-gradient(to bottom, $orange, $orange 50%, $amber 50%, $amber);
  }

  p.countdownCompleted {
    font-size: 1.4em;
    color: white;
    padding: 0 0 0.9em 0;
  }

  .stats {
    padding-top: 0.5rem;

    .data {
      color: $mauve;
    }
  }
}

@include small {
  .banner {
    grid-template-columns: 3fr 2fr;
  }

  .electionLogo {
    grid-area: 1 / 1 / span 1 / span 1;

    img {
      padding-bottom: 0;
    }
  }

  .countdown {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .stats {
    justify-content: space-evenly;
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .voteButton {
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .completed {
    .electionLogo {
      grid-area: 1 / 1 / span 1 / span 2;
      text-align: center;

      img {
        padding: 0.75 0 0 0;
      }
    }
  }

  p.countdownCompleted {
    padding: 0.7em 0;
  }

  .autumn {
    &.banner {
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 3fr 4fr 4fr;
      background: linear-gradient(to bottom, $orange, $orange 33%, $amber 33%, $amber);  
    }

    .stats {
      color: $indigo;

      .data {
        color: $mauve;
      }
    }

    &.completed {
      &.banner {
        grid-template-rows: 4fr 3fr 4fr;
        background: linear-gradient(to bottom, $orange, $orange 40%, $amber 40%, $amber);
      }

      .electionLogo {
        img {
          padding: 0;
        }
      }

      p.countdownCompleted {
        padding: 0.2em 0;
        color: $indigo;
      }
    }
  }
}
