/* Styles for the Banner component */
@import "../styles/variables.scss";

.banner {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr;
  column-gap: 1em;
  align-items: center;
  background-color: $indigo;
  padding: 10px 0;
}

.electionLogo {
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  } 
}

.countdownCompleted {
  text-align: center;
  font-size: 1.5em;
  font-weight: $fw-bold;
  color: $amber;
  padding: 1.14em 0;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.80rem;
  font-weight: $fw-semi-bold;
  color: white;

  > div {
    text-align: center;
  }

  .data {
    font-size: 1.5rem;
    font-weight: $fw-extra-bold;
  }
}

@include small {
  .banner {
    grid-template-columns: auto auto auto;
  }
  .electionLogo {
    grid-area: 1 / 1 / span 1/ span 2;
  }
  
  .stats {
    justify-content: space-evenly;
    grid-area: 3 / span 3;
  }

  .completed {
    .electionLogo {
      grid-area: 1 / 1 / span 1/ span 3;

      img {
        width: 50%;
      } 
    }
  }
  .countdownCompleted {
    padding: 0.7em 0;
  }
}
