/* ElectionCountdown component styles. */
@import "../../styles/variables.scss";

.countdown {
  .timeRow {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  .header {
    color: $amber;
    font-size: 0.75em;
    font-weight: $fw-semi-bold;
    max-width: 20%;
  }

  .time {
    text-align: center;

    .count {
      padding: 0 0.5em;
      font-size: 1.8em;
      font-weight: $fw-extra-bold;
    }

    .label {
      font-size: 0.80em;
      font-weight: $fw-semi-bold;
    }
  }
}

@include small {
  .countdown {
    margin: 0.5em 0.5em 1em;
  }

  .time {
    display: flex;
    flex-direction: column;
  }
}
