/* ElectionCountdown component styles. */
@import "../../styles/variables.scss";

.countdown {
  .timeRow {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }

  .header {
    max-width: 17%;
    margin-bottom: 0;
    color: $offBlack;
    font-size: 0.75em;
    font-weight: $fw-bold;
  }

  .time {
    text-align: center;

    .count {
      padding: 0 0.5em;
      font-size: 1.8em;
      font-weight: $fw-extra-bold;
    }

    .label {
      font-size: 0.80em;
      font-weight: $fw-bold;
    }
  }

  &.dashboardCountdown {
    .timeRow {
      justify-content: space-between;
      padding: 0 0.75em 0 0.55em;
    }

    .header {
      max-width: 100%;
      font-size: 1.125em;
      margin: unset;
    }
  }

  &.ae2022 {
    padding-bottom: 1em;

    .timeRow {
      color: $indigo;
    }

    .header {
      color: $indigo;
    }

    .time {
      display: flex;
      flex-direction: column;

      .count {
        color: white;
      }
    }
  }
}

@include small {
  .countdown {
    margin: 0.5em 0.5em 1em;

    .time {
      display: flex;
      flex-direction: column;
    }

    &.ae2022 {
      padding-bottom: 0;
      margin-bottom: 0.5em;

      .time .count {
        color: $mauve;
      }
    }
  }

}
